# ----------------------------------------------------------------------------------------------
# 	MIFOS Mobile Configurations File
# ----------------------------------------------------------------------------------------------
# Data-source
db.jdbc.url = jdbc:mysql://localhost:3306/mifosmobile
db.jdbc.driver = com.mysql.jdbc.Driver
db.user = root
db.password = mysql

# Currency
currency.decimals = 2
currency.iso.name = UG Shillings
currency.iso.code = UGX

# Subcriber Numbers
msisdn.country.prefix = 256
msisdn.network.digits = 3
msisdn.subscriber.digits = 6

# USSD
ussd.menu.definition = C:/Dev/Projects/mifos-mobile/test-env/ussd-menu.conf
ussd.internal.error.msg = Dear Customer, An error occurred while processing your request. Please try again later.

# ----------------------------------------------------------------------------------------------
#   MIFOS Configurations
# ----------------------------------------------------------------------------------------------
mifos.api.url = https://localhost:8443/mifosng-provider/api/v1
#mifos.api.url = https://demo.openmf.org/mifosng-provider/api/v1
mifos.api.user = mifos
mifos.api.pass = password
mifos.api.tenant.id = default
mifos.api.timeout.connect = 10000
mifos.api.timeout.read = 10000

# Loan Info
loan.product.id = 1
loan.datatable.name = USSD_LOAN
loan.payment.type = 1
