# ----------------------------------------------------------------------------------------------
# 	MIFOS Mobile Configurations File
# ----------------------------------------------------------------------------------------------
# Data-source
db.jdbc.url = jdbc:mysql://localhost:3306/mifosmobile
db.jdbc.driver = com.mysql.jdbc.Driver
db.user = root
db.password = mysql

# Currency
currency.decimals = 0
currency.iso.name = UG Shillings
currency.iso.code = UGX

# Subcriber Numbers
msisdn.country.prefix = +254
msisdn.network.digits = 3
msisdn.subscriber.digits = 6

# USSD
ussd.menu.definition = C:/Dev/Projects/mifos-mobile/test-env/ussd-menu.conf
ussd.internal.error.msg = Dear Customer, An error occurred while processing your request. Please try again later.
ussd.session.clear.interval = 60000
ussd.session.max.lifetime = 60000

# ----------------------------------------------------------------------------------------------
#   MIFOS Configurations
# ----------------------------------------------------------------------------------------------
mifos.api.url = https://localhost:8443/mifosng-provider/api/v1
#mifos.api.url = https://demo.openmf.org/mifosng-provider/api/v1
mifos.api.user = mifos
mifos.api.pass = password
mifos.api.tenant.id = default
mifos.api.header["X-Mifos-Platform-TenantId"] = default
mifos.api.timeout.connect = 10000
mifos.api.timeout.read = 10000

# Loan Info
loan.product.id = 1
loan.datatable.name = USSD_LOAN
loan.payment.type = 1

# SMS
sms.notify = on
sms.on.lend = true
sms.lend.ok = Dear :lastname, your loan request of UGx:loan-amount was successful. The amount has been sent to your :disbursal-destination account.
sms.lend.failed = Dear :lastname, your loan request of UGx:loan-amount failed. Please try again later.

sms.disburse.failed = Dear :lastname, your loan disbursement failed.
sms.approval.failed = Dear :lastname, your loan request was not approved. Please contact our customer care for assistance

# RabbitMQ
rabbitmq.host = 192.168.98.129
rabbitmq.port = 5672
rabbitmq.username = test
rabbitmq.password = test
rabbitmq.vhost = /
# main sms queue
rabbitmq.queue.name = sms-queue
rabbitmq.queue.exchange = sms-xchange
rabbitmq.queue.routing.key = sms-mifosmobile
# retry sms queue
rabbitmq.retry.queue.name = sms-retry-queue
rabbitmq.retry.exchange = sms-retry-xchange
rabbitmq.retry.routing.key = sms-retry-mifosmobile
rabbitmq.retry.delay = 60000
# failed sms queue
rabbitmq.failed.queue.name = sms-failed-queue
rabbitmq.failed.exchange = sms-failed-xchange
rabbitmq.failed.routing.key = sms-failed-mifosmobile
